*.gem
*.iml
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.swp
*.tmlanguage.cache
*.tmPreferences.cache
*~
.bundle/
.byebug_history
.DS_Store
.idea/
.ruby-gemset
.ruby-version
.tags
.tags1
bbin/
binstubs/*
bundler_stubs/*
coverage
Gemfile.lock
pkg/
tmp/*
TODO
