*.gem
*.iml
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.swp
*.tmlanguage.cache
*.tmPreferences.cache
*~
.bundle/
.DS_Store
.idea/
.ruby-gemset
.ruby-version
bbin/
bin/*
binstubs/*
bundler_stubs/*
coverage
Gemfile.lock
pkg/
tmp/*
