name: gouteur

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: nanasess/setup-chromedriver@v1.0.1 # for client_side_validations js test
      - name: Set up Node                        # for client_side_validations js test
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
      - name: Prepare
        run: bundle install --jobs 4
      - name: Test
        run: bundle exec gouteur
